*{
	margin:10px;
	padding:0px;
}
#header{
	border:2px solid red;
	padding:10px;
	margin:10px 10px;
}
#main-section{
	border:2px solid gray;
	padding:10px;
	margin:10px 10px;
	position:absolute;
	background-color:yellow;
	top:200px;
	left:150px;
}
#footer{
	border:2px solid black;
	padding:10px;
	margin:10px 10px;
}