#mom p:first-letter{
	color:blue;
	font-size:30px;
}
#dad p:first-child{
	color:blue;
	font-size:30px;
}
#mom2 p:last-child{
	color:blue;
	font-size:30px;
}
#dad2 p:before{
	color:blue;
	content:"before ";
}
#dad2 p:after{
	color:blue;
	content:" after";
}